
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p> @Html.ActionLink("Register", "Register", "User")</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td> Login Id Or Emil Id</td>
            <td> @Html.TextBox("Login") </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>@Html.Password("Password")</td>
        </tr>
        <tr>
            <td> </td>
            <td>
                <input type="submit" value="Login" class="btn btn-outline-primary" />
            </td>
            <td>
                 @Html.ActionLink("Register", "Register", "User")
            </td>
        </tr>

    </table>

}

